/* Buttons.css */

.container-all{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 300px;
    width: 320px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px 5px #0000005b;
  }
  
  .likes-dislikes {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .button, .button.dislike {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Agrega transición para suavizar el cambio */
}

.button {
  background-color: #4caf50;
  color: white;
}

.button.dislike {
  background-color: #f44336;
}

.button:hover {
  background-color: white; /* Cambia el fondo a blanco en hover */
  color: #4caf50; /* Cambia el color del texto a verde en hover */
  transform: scale(1.1); /* Escala ligeramente el botón en hover, puedes ajustar según sea necesario */
}

.button.dislike:hover {
  background-color: white; /* Cambia el fondo a blanco en hover */
  color: #f44336; /* Cambia el color del texto a verde en hover */
  transform: scale(1.1); /* Escala ligeramente el botón en hover, puedes ajustar según sea necesario */
}



  